:root {
  --bg-color: #0e0c15;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
/* font - Aeonik */
@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/AeonikTRIAL-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Aeonik";
  background-color: var(--bg-color);
  color: #fff;
}
