/* .hero {
  border: 1px solid white;
  width: 1248px;
  height: 1248px;
  margin: 0 auto;
}

.image-container {
  width: 905px;
  height: 905px;
  border: 2px solid red;
  border-radius: 999px;
}
.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  object-fit: cover;
} */
